* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

button,
input {
	outline: 0;
	border: 0;
	background: none;
}

ul {
	list-style: none;
}

#container {
	max-width: 1230px;
	margin: 0 auto;
}
